<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
</head>
<body>
    <div class="container">
        <h1 id="gameTitle">{{ game.title }}</h1>
        <div class="game-area">
            <div class="game-details">
                <label>Description:</label>
                <p id="gameDescription">{{ game.descrition }}</p>
            </div>
            <div class="game-details">
                <label>Genre:</label>
                <p id="gameGenre">{{ game.genre }}</p>
            </div>
            <div class="game-details">
                <label>Release Date:</label>
                <p id="gameReleaseDate">{{ game.release_date }}</p>
            </div>
            <div class="game-details">
                <label>Rating:</label>
                <p id="gameRating">{{ game.rating }}</p>
            </div>

            {% if owned and islogin %}
                <div class="game-details">
                    <label>Status: </label>
                    <p id="gameStatus">Owned</p>
                </div>
                <button>Play</button>
            {% else %}
                <div class="game-details">
                    <label>Status: </label>
                    <p id="gameStatusNotOwned">Not Owned</p>
                </div>
                <div class="game-details">
                    <label>Price: </label>
                    <p id="gamePrice">{{ game.price }} USD</p>
                </div>
                <button>Add to Cart</button>
            {% endif %}
            <button onclick="history.back()">Back</button>
        </div>
    </div>
</body>
</html>