<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Store - Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="background">
        <div class="glow-orb orb-1"></div>
        <div class="glow-orb orb-2"></div>
        <div class="glow-orb orb-3"></div>
    </div>

    <div class="page">
        <div class="home-container">

            <!-- HEADER -->
            <header class="header">
                <div class="brand">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='assets/logo1.jpg') }}" alt="Quantum Store Logo">
                    </div>
                    <h1>Quantum Store - Library</h1>
                </div>

                <p style="color: white;">Welcome, {{ session['username'] }}!</p>

                <div class="header-actions">
                    <div class="search-bar">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none">
                            <circle cx="11" cy="11" r="8" stroke="currentColor" stroke-width="2" />
                            <path d="M21 21L16.65 16.65" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" />
                        </svg>
                        <div class="search">
                            <form action="/search" method="POST">
                                <input type="text" id="search" name="search" placeholder="Enter game title" required>
                            </form>
                        </div>
                        {% for message in get_flashed_messages() %}
                        <div class="flash">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>

                    <button class="icon-btn">
                        <a href="/cart">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M3 4H5L6.5 12.5H17.5L19 6H6" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <circle cx="9" cy="18" r="1.5" stroke="currentColor" stroke-width="2" />
                                <circle cx="16" cy="18" r="1.5" stroke="currentColor" stroke-width="2" />
                            </svg>
                        </a>
                    </button>

                    <button class="icon-btn" id="sortMenuBtn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect x="5" y="5" width="4" height="4" stroke="currentColor" stroke-width="2" />
                            <rect x="15" y="5" width="4" height="4" stroke="currentColor" stroke-width="2" />
                            <rect x="5" y="15" width="4" height="4" stroke="currentColor" stroke-width="2" />
                            <rect x="15" y="15" width="4" height="4" stroke="currentColor" stroke-width="2" />
                        </svg>
                    </button>
                    <div id="floatingMenu" class="floating-menu" style="display:none;">
                        <p>Currently sorted by: {{ sort_by|capitalize }}</p>
                        <a href="?sort=title"><button>Sort by Name</button></a>
                        <a href="?sort=price"><button>Sort by Price</button></a>
                        <a href="?sort=release_date"><button>Sort by Release Date</button></a>
                        <button onclick="hideMenu()">Close</button>
                    </div>

                    <button class="icon-btn menu-btn">
                        <a href="/store">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <line x1="6" y1="8" x2="18" y2="8" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" />
                            <line x1="6" y1="12" x2="18" y2="12" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" />
                            <line x1="6" y1="16" x2="18" y2="16" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" />
                        </svg>
                        </a>
                    </button>
                </div>
            </header>

            {%if games %}
            <div class="product-grid">
              {% for game in games %}
                <div class="product-card">
                  <a href="{{ url_for('game_page', game_title=game.title) }}" class="product-link">
                    <div class="product-image">
                      <img src="{{ game.image_url or 'https://via.placeholder.com/150' }}" alt="{{ game.title }} Icon">
                    </div>
                  </a>
                  <div class="product-info">
                    <h3 class="product-name">{{ game.title }}</h3>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% else %}
                <p style="color: white;">No games is present in your library. Go to the store to buy some games.</p>
            {% endif %}

            <div>
                <button class="btn">
                    <a href="/logout">
                        LOGOUT
                        <svg width="10" height="0" viewBox="0 0 20 20" fill="none">
                            <path d="M7 3L14 10L7 17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </button>
                {% if isadmin %}
                    <button class="btn">
                        <a href="/admin_page">
                            ADMIN
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M7 3L14 10L7 17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </button>
                {% endif %}
                <button class="btn">
                    <a href="/store">
                        STORE
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M7 3L14 10L7 17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>

    <script>
    document.getElementById('sortMenuBtn').onclick = function() {
        var menu = document.getElementById('floatingMenu');
        menu.style.display = (menu.style.display === 'none' || menu.style.display === '') ? 'block' : 'none';
    };

    function hideMenu() {
        document.getElementById('floatingMenu').style.display = 'none';
    }

    // Example sort function (client-side, for demo; for real sorting, reload page with sort param)
    function sortGames(by) {
        // You can implement client-side sorting here, or reload with a sort parameter
        alert('Sort by: ' + by);
        hideMenu();
    }
    </script>

</body>

</html>